input {
    background-color: #669bbc;
    padding: 15px;
    border: none;
    border-radius: 15px 0px 0px 15px;
    width: 80%;
    color: #fdf0d5;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.ask {
    background-color: #fdf0d5;
    padding: 15px 20px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 15%;
    font-weight: 700;
    font-size: 14px;
}

